html {
    scroll-behavior: smooth;
}

body {
    background-color: #FDFCEF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #000;
    margin: 0;
    padding: 0;

}

* {
    box-sizing: border-box;
}

/* Main Styles */
.container {
    max-width: 1100px;
    margin: 0 auto;
}

p {
    line-height: 1.37em;
    margin: 0;
}

section {
    padding-top: 120px;
}

h1 {
    font-size: 50px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.4em;
    margin: 0;
} 
h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
}
/* First Section */
.logo {
    margin: 60px auto 0 auto;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}
.hero-image {
    width: 465px;
}
/* Main Text*/
.hero-text {
    width: 465px;
}

.intro {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 1.36em;
}
.btn {
    background: #FF6861;;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    padding: 22px 70px;
    font-weight: 700;
    display: block;
    width: 235px;
    transition: all 0.5s ease;

}
.btn:hover {
    background: #ff251a;
}
